## Methods to handle missing values:
####    - imputation
####    - dropping

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

In [15]:
# load dataset
dataset = pd.read_csv('../../data/car.csv')

In [16]:
dataset.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [18]:
dataset.shape

(1727, 7)

In [24]:
dataset.isnull().sum()  # check for missing values

vhigh      0
vhigh.1    0
2          0
2.1        0
small      0
low        0
unacc      0
dtype: int64

# Central Tendencies
### 1. Mean
### 2. Mode
### 3. Median